/*------------------------------------*\
  Components > Archive
\*------------------------------------*/

.c-archive {
  padding: $space-32;
  margin-bottom: $space-32;
  border-radius: $global-border-radius;
  background-color: var(--color-background-secondary);
  box-shadow: inset 0 0 0 .5px var(--color-border-primary);

  &__title {
    font-size: $type--h-xs;
    line-height: $type--h-xs-lh;
  }

  &__description {
    margin-top: half($space-8);
    color: var(--color-text-secondary);
    font-size: $type-md;
    line-height: $type-md-lh;
  }
}