/*------------------------------------*\
  Components > Card Author
\*------------------------------------*/

.c-card-author {
  width: 100%;
  display: flex;
  padding: $space-24;
  border-radius: $global-border-radius;
  background-color: var(--color-background-secondary);
  box-shadow: inset 0 0 0 .5px var(--color-border-primary);

  &__media {
    width: $space-80;
    height: $space-80;
    border-radius: 100%;
    margin-right: $space-24;
    background-color: var(--color-background-primary);
  }

  &__image {
    object-fit: cover;
    width: $space-80;
    height: $space-80;
    min-width: $space-80;
    border-radius: 100%;
  }

  &__name {
    font-size: $type-lg;
    line-height: $type-lg-lh;
    font-weight: $type-700;

    a {
      transition: $global-transition;

      @include attention() {
        color: var(--ghost-accent-color);
      }
    }
  }

  &__bio {
    font-size: $type-md;
    line-height: $type-md-lh;
    color: var(--color-text-secondary);
  }

  .icon {
    fill: var(--color-text-primary);
    vertical-align: sub;
    transition: $global-transition;

    @include attention() {
      fill: var(--ghost-accent-color);
    }
  }
}