/*------------------------------------*\
  Components > Logo
\*------------------------------------*/

.c-logo {
  margin-right: $space-32;

  &__link {
    display: block;
    line-height: 1;
    font-weight: $type-700;
    font-size: $type-xl;
    transition: color $global-faster-transition ease-in-out;

    @include attention() {
      color: var(--ghost-accent-color);
    }
  }

  &__img {
    max-height: $space-32;
  }
}