/*------------------------------------*\
  Components > Post Hero
\*------------------------------------*/

.c-post-media {
  margin-bottom: $space-32;

  &--no-caption {
    box-shadow: -8px 16px 24px -8px rgba(0, 0, 0, .08);
  }

  &__wrap {
    position: relative;
    background-color: var(--color-background-secondary);

    &:after {
      content: '';
      display: block;
      height: 0;
      width: 100%;
      padding-bottom: 56.25%;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__caption {
    width: 100%;
    text-align: center;
    padding: $space-16;
    color: var(--color-text-secondary);
    font-size: $type-xs;
    line-height: $type-xs-lh;
    font-weight: $type-500;
    letter-spacing: $global-letter-spacing;
    background-color: var(--color-background-secondary);

    a {
      color: var(--color-text-primary);
      text-decoration: underline;

      @include attention() {
        color: var(--ghost-accent-color);
        text-decoration: underline;
      }
    }
  }
}

.c-post-header {
  margin-bottom: $space-32;

  &__title {
    margin-bottom: 0;
    font-size: $type--h-sm;
    line-height: $type--h-sm-lh;

    @include mq($from: tablet) {
      font-size: $type--h-md;
      line-height: $type--h-md-lh;
    }

    @include mq($from: desktop) {
      font-size: $type--h-lg;
      line-height: $type--h-lg-lh;
    }
  }

  &__excerpt {
    margin-left: auto;
    margin-right: auto;
    margin-top: $space-16;
    color: var(--color-text-secondary);
    font-size: $type--h-xxs;
    line-height: $type--h-xxs-lh;

    @include mq($from: desktop) {
      font-size: $type--h-xs;
      line-height: $type--h-xs-lh;
    }
  }

  &__meta {
    margin-top: $space-32;
    font-size: $type-xs;
    line-height: $type-xs-lh;
    letter-spacing: $global-letter-spacing;

    @include mq($from: tablet) {
      display: flex;
      align-items: center;
    }
  }

  &__authors {
    display: flex;
    grid-gap: $space-8;
    align-items: center;
  }

  &__authors-images {
    display: flex;
    grid-gap: $space-8;
  }

  &__authors-names {
    font-weight: $type-600;
    color: var(--color-text-secondary);

    a {
      color: var(--color-text-primary);
    }
  }

  &__author-image-wrap {
    display: block;
    width: $space-32;
    height: $space-32;
    border-radius: 100%;
    background-color: var(--color-background-secondary);
  }

  &__author-image {
    width: $space-32;
    height: $space-32;
    object-fit: cover;
    border-radius: 100%;
  }
}